[project]
	description = Test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Woltan
[access "refs/for/refs/*"]
	read = group user/Woltan
	push = group user/Woltan
	label-Code-Review = -2..+2 group user/Woltan
	label-Verified = -1..+1 group user/Woltan
	rebase = group user/Woltan
	removeReviewer = group user/Woltan
	submit = group user/Woltan
[access "refs/heads/*"]
	read = group user/Woltan
	create = group user/Woltan
	push = +force group user/Woltan
	pushMerge = group user/Woltan
[access "refs/tags/*"]
	push = +force group user/Woltan
	pushTag = group user/Woltan
	pushSignedTag = group user/Woltan
